body{
	margin: 0;
	font-family: Helvetica, sans;
	background: #78909c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
td{
	width: 10vh;
	height: 10vh;
	border: .5vh solid #cfd8dc;
	text-align: center;
}
td:hover{
	background: #37474f;
	cursor: pointer;
}
table{
	border-collapse: collapse;
	border: solid black 1px;
}
#game{
	padding: 2vh;
	background: #263238;
	display: inline-block;
}
.info{
	background: #455a64;
	padding: 2vh;
	text-align: center;
	margin-bottom: 2vh;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
}
.info > p{
	margin: 0;
}
.info > .chip{
}
#result-board{
	display: none;
}
.board{
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.red{
	background: #f44336;
}
.blue{
	background:  #2196f3;
}
.chip{
	position: relative;
	width: 7vh;
	height: 7vh;
	border-radius: 50%;
	display: inline-block;
	border-width: .50vh;
	border-style: dashed;
	border-color: #fff;
	box-shadow: .1vh .1vh .5vh rgba(0, 0, 0, .5);
}
#turn-indicator{
	background: rgba(0, 0, 0, .25);
	color: #cfd8dc;
	padding: 1vh;
	font-size: 4vh;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	width: 12vh;
	text-align: center;
}
.info > .chip.active:after{
	position: absolute;
	content: '\25CF';
	color: white;
	font-size: 5vh;
}
.info > .chip.red.active:after{
	right: 10vh;
}
.info > .chip.blue.active:after{
	left: 10vh;
}
